.faq-container {
    position: relative;
}

.faq {
    overflow: hidden;
    width: 50%;
    margin: auto;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
}

.faq-subheading {
    font-size: 24px;
}

.faq-heading {
    font-size: 38px;
}

.faq-description {
    font-size: 18px;
    margin: 10px 0;
}

.faq-image {
    position: absolute;
    left: 0;
    z-index: -10;
}

/* Media */
@media screen and (max-width:768px) {

    .faq {
        width: 85%;
    }

    .faq-image {
        display: none;
    }
}