.navbar {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-around;
    width: 100%;
    position: relative;
    z-index: 100;
}

/* Left */
.navbar-logo {
    height: 50px;
    width: 150px;
}

/* Middle */
.link-items {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: space-around;
}

.link-item {
    cursor: pointer;
    font-size: 20px;
    transition: 0.6s ease-in-out;
    padding-bottom: 5px;
    padding-top: 5px;
    margin: 10px;
}

.link-item:hover {
    color: orangered;
}

ul {
    list-style-type: none;
}

/* Right */

.right {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.navbar-button {
    border: none;
    padding: 15px 30px;
    color: white;
    font-size: 18px;
    background-color: orangered;
    cursor: pointer;
    box-shadow: #008CA5;
}

.navbar-button:hover {
    background-color: rgb(255, 90, 30);
}

.toggle-navbar {
    color: #008CA5;
    font-size: 24px;
    display: none;
}

/* Media Queries */
@media screen and (max-width:768px) {

    .navbar .link-items{
        background-color: white;
    }

    .hide {
        display: none;
    }

    .toggle-navbar {
        display: block;
        cursor: pointer;
    }

    .link-items {
        display: none;
    }

    .link-items.active {
        display: flex;
        flex-direction: column;
        gap:20px;
        width: 100%;
        transition: all 1s ease-in-out;
    }
    
    ul {
        position: absolute;
        left: 0;
        top: 7vh;
    }

}